@{
    ViewData["Title"] = "Home Page";
}


@* Hello? :D *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This application is an assignment made by Yehia Deraz through the hiring process - 2020</h4>
    <img src="images/Ejada.png" alt="">
</div>